*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clock {
    width: 100%;
    height: 100%;
    background: rgba(1, 30, 66, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    position: relative;
    border: 2px solid transparent; 
}

.neon-border {
    position: absolute;
    top: -4px; 
    left: -4px; 
    right: -4px; 
    bottom: -4px; 
    border-radius: 16px; 
    border-width: 4px; 
    animation: neon-border 0.5s infinite alternate; 
}

@keyframes neon-border {
    0% {
        border-color:  #00ffff; 
    }
    50% {
        border-color: #abb0f3; 
    }
    100% {
        border-color:#ff00ff; 
    } 
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -60px;
    top: -60px;
    z-index: -1;
    animation: pulsed 0.5s infinite alternate;
}

@keyframes pulsed {
    0% {
        transform: scale(0.9); 
    }
    100% {
        transform: scale(1); 
    }
}
.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -60px;
    bottom: -60px;
    z-index: -1;
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(0.9); 
    }
}

.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SEC';
}
